nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 24px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50%;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.burger {
    display: none; /* Hide initially on larger screens */
    flex-direction: column;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px;
}
@media screen and (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh; /* Adjust as needed */
        top: 80px; /* Adjust as needed */
        background-color: #333;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translateX(0);
    }

    .nav-links li {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
}
